extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    div.btn.btn-group.btn-group-justified.bg-info
      h1 Job:Handle
        span.mono.leftpad16= job.handle
    div.btn-group
      div.btn-group.btn-group-justified
        div.btn-group.btn-group-xs
          button.btn Created
            span.badge.mono.leftpad8= momentStandardFormat(job.createdAt)
        div.btn-group.btn-group-xs
          button.btn Updated
            span.badge.mono.leftpad8= momentStandardFormat(job.updatedAt)
    +alerts()
    form.form-horizontal(action='/job/save', method='post', role='form')
      input(type='hidden', name='id', value=job._id)
      .form-group
        label.control-label.col-sm-2 Handle
        .col-sm-10
          input.form-control(type='text', name='handle', placeholder='Handle', value=job.handle)
      .form-group
        label.control-label.col-sm-2 Description
        .col-sm-10
          input.form-control(type='text', name='description', placeholder='description', value=job.description)
      .form-group
        label.control-label.col-sm-2 Category
        .col-sm-10
          input.form-control(type='text', name='category', placeholder='category', value=job.category)
      .form-group
        label.control-label.col-sm-2 Priority
        .col-sm-10
          input.form-control(type='text', name='priority', placeholder='priority', value=job.priority)
      .form-group
        label.control-label.col-sm-2 Status
        .col-sm-10
          input.form-control(type='text', name='status', placeholder='Status', value=job.status)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
