extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Stores')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Name
          th Host
          th Port
          th Usage
          th Connections
          th Writable
          th Available
          th Active
        each row in list
          - var percentUsed = 0
          - row.stepTotal = parseInt(row.stepTotal || 1)
          - row.stepComplete = parseInt(row.stepComplete || 0)
          - percentUsed = (((row.usage.total - row.usage.free)  / row.usage.total) * 100).toFixed(2)
          - var statusClass = ''
          - if(percentUsed > 30) statusClass ='bg-info'
          - if(percentUsed > 75) statusClass ='bg-warn'
          - if(percentUsed > 90) statusClass ='bg-danger'
          tr(class=statusClass)
            td
              input(type='checkbox', name='remove[]', value=row._id)
            td
              a(href='/store/edit?id=' + row._id)= row.name
            td= row.host
            td= row.port
            td
              div
              .progress.progress-striped(style='margin-bottom: 0;')
                .progress-bar.progress-bar-info(role='progressbar', aria-valuenow=percentUsed, aria-valuemin='0', aria-valuemax='100', style='width: ' + percentUsed + '%;')
                  | #{percentUsed}%
              div
                small.text-muted #{prettyBytes(row.usage.total - row.usage.free)} / #{prettyBytes(row.usage.total)} (#{prettyBytes(row.usage.free)} free)
            td= row.slot.count
            td
              +active(row.writable)
            td
              +active(row.available)
            td
              +active(row.active)
      +tableFooter(page,count)