extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Stores')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Name
          th Host:Port
          th Usage
          th Connections
          th Active
          th Online
          th Readable
          th Writable
        each row in list
          - var percentUsed = 0
          - row.stepTotal = parseInt(row.stepTotal || 1)
          - row.stepComplete = parseInt(row.stepComplete || 0)
          - percentUsed = (((row.usage.total - row.usage.free)  / row.usage.total) * 100).toFixed(0)
          - var statusClass = 'success'
          - if(percentUsed > 30) statusClass ='info'
          - if(percentUsed > 75) statusClass ='warning'
          - if(percentUsed > 90) statusClass ='danger'
          tr
            td
              input(type='checkbox', name='remove[]', value=row._id)
            td.mono
              a(href='/store/edit?id=' + row._id)= row.name
            td.mono= [row.host,row.port].join(':')
            td.mono
              div
              .progress.progress-striped(style='margin-bottom:0;')
                .progress-bar(class='progress-bar-'+statusClass, role='progressbar', aria-valuenow=percentUsed, aria-valuemin='0', aria-valuemax='100', style='width:' + percentUsed + '%;')
                  span.sr-only #{percentUsed}%
              .container-fluid.mono.heavy.text-muted(class='bg-' + statusClass)
                .col-xs-1.text-left #{percentUsed}%
                .col-xs-11.text-right.text-nowrap #{prettyBytes(row.usage.total - row.usage.free)} / #{prettyBytes(row.usage.total)} (#{prettyBytes(row.usage.free)} free)
            td.mono= row.slot.count
            td
              +active(0<=row.roles.indexOf('active'))
            td
              +active(0<=row.roles.indexOf('online'))
            td
              +active(0<=row.roles.indexOf('read'))
            td
              +active(0<=row.roles.indexOf('write'))

      +tableFooter(page,count)
