extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    div.btn.btn-group.btn-group-justified.bg-info
      h1 Peer:Prism
      pre.mono.h4= prism.name
    div.btn-group
      div.btn-group.btn-group-justified
        div.btn-group.btn-group-xs
          button.btn Created
            span.badge.mono.margin-l-8= momentStandardFormat(prism.createdAt)
        div.btn-group.btn-group-xs
          button.btn Updated
            span.badge.mono.margin-l-8= momentStandardFormat(prism.updatedAt)
    +alerts()
    form.form-horizontal(action='/prism/save', method='post', role='form')
      input(type='hidden', name='name', value=prism.name)
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10.mono
          .form-control-static= prism.name
      .form-group
        label.control-label.col-sm-2 Host
        .col-sm-10.mono
          input.form-control(type='text', name='host', placeholder='Prism Host', value=prism.host)
      .form-group
        label.control-label.col-sm-2 Port
        .col-sm-10.mono
          input.form-control(type='text', name='port', placeholder='Prism Port', value=prism.port)
      .form-group
        label.control-label.col-sm-2 Active
        .col-sm-10.mono
          input(type='checkbox', name='role_active', checked=(0<=prism.roles.indexOf('active')))
      .form-group
        label.control-label.col-sm-2 Writable
        .col-sm-10.mono
          input(type='checkbox', name='role_writable', checked=(0<=prism.roles.indexOf('writable')))
      .form-group
        label.control-label.col-sm-2 Online
        .col-sm-10.mono
          input(type='checkbox', name='role_online', checked=(0<=prism.roles.indexOf('online')))
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
