extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Prisms')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Name
          th Host:Port
          th Created #{timezone}
          th Updated #{timezone}
          th Active
          th Writable
          th Online
        each row in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row._id)
            td
              a(href='/prism/edit?name=' + row.name)= row.name
            td
              a(href='/prism/edit?name=' + row.name)= [row.host,row.port].join(':')
            td= row._formatted.createdAt
            td= row._formatted.updatedAt
            td
              +active(0<=row.roles.indexOf('active'))
            td
              +active(0<=row.roles.indexOf('writable'))
            td
              +active(0<=row.roles.indexOf('online'))
      +tableFooter(page,count)
