extends ../layout
block content
  .container
    +tableHeader('Prisms')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Name
          th Host:Port
          th Created #{timezone}
          th Updated #{timezone}
          th Active
          th Online
          th Readable
          th Writable
        each row in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row._id)
            td.mono
              a(href='/prism/edit?name=' + row.name)= row.name
            td.mono= [row.host,row.port].join(':')
            td.mono= momentStandardFormat(row.createdAt)
            td.mono= momentStandardFormat(row.updatedAt)
            td
              +active(0<=row.roles.indexOf('active'))
            td
              +active(0<=row.roles.indexOf('online'))
            td
              +active(0<=row.roles.indexOf('read'))
            td
              +active(0<=row.roles.indexOf('write'))
      +tableFooter(page,count)
