extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('User','/user/create','Create User')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Name
          th Last Login #{timezone}
          th Login Count
          th Last Failed Login #{timezone}
          th Failed Login Count
          th Active
        each row in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row._id)
            td.mono
              a(href='/user/edit?id=' + row._id)= row.name
            td.mono
              if row.lastLogin
                div.text-success= momentStandardFormat(row.lastLogin)
              else
                dev.text-normal= momentStandardFormat(row.lastLogin)
            td.mono= row.loginCount || 0
            td.mono
              if row.lastFailedLogin
                div.text-danger= momentStandardFormat(row.lastFailedLogin)
              else
                div.text-normal= momentStandardFormat(row.lastFailedLogin)
            td.mono= row.failedLoginCount || 0
            td
              +active(row.active)
      +tableFooter(page,count)
