extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Sessions')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Token
          th Token Type
          th Expiry
          th IP
          th User Name
          th Roles
          th Data
        each row in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row._id)
            td= row.token
            td= row.tokenType
            td= row.expiry
            td= row.ip
            td= row.name
            if row.roles instanceof Array
              td= row.roles.join(',')
            else
              td= row.roles
            td= JSON.stringify(row.data)
      +tableFooter(page,count)