extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Purchases','/purchase/create','Create Purchase')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Token
          th Hash
          th Extension
          th Referrer
          th Life (After Life) Seconds
          th Expiration Date #{timezone}
        each row in list
          - row.token = row._id.split(':')[1]
          tr
            td
              input(type='checkbox', name='remove[]', value=row.token)
            td.mono
              a(href='/purchase/edit?token=' + row.token)= row.token
            td.mono
              a(href='/inventory/edit?hash=' + row.hash)= row.hash
            td.mono= row.ext
            td.mono= row.referrer
            td.mono= row.life + '(' + row.afterLife + ')'
            td.mono= momentStandardFormat(row.expirationDate)
      +tableFooter(page,count)
