extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    div.btn.btn-group.btn-group-justified.bg-info
      h1 Inventory:Hash
      pre.mono.h4= summary.hash
    div.btn-group
      div.btn-group.btn-group-justified
        div.btn-group.btn-group-xs
          button.btn Created
            span.badge.mono.margin-l-8= momentStandardFormat(summary.createdAt)
        div.btn-group.btn-group-xs
          button.btn Updated
            span.badge.mono.margin-l-8= momentStandardFormat(summary.updatedAt)
    +alerts()
    form.form-horizontal(action='/inventory/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Hash
        .col-sm-10.mono
          .form-control-static= summary.hash
          input(type='hidden', name='hash', value=summary.hash)
      .form-group
        label.control-label.col-sm-2 Relative Path
        .col-sm-10.mono
          input.form-control(type='text', name='relativePath', value=summary.relativePath)
      .form-group
        label.control-label.col-sm-2 Size
        .col-sm-10.mono
          input.form-control(type='text', name='size', value=summary.size)
      .form-group
        label.control-label.col-sm-2 Mime Type
        .col-sm-10.mono
          input.form-control(type='text', name='mimeType', value=summary.mimeType)
      .form-group
        label.control-label.col-sm-2 Mime Extension
        .col-sm-10.mono
          input.form-control(type='text', name='mimeExtension', value=summary.mimeExtension)
      .form-group
        label.control-label.col-sm-2 Rules
        .col-sm-10
          .panel.panel-default
            .panel-heading
              a.btn.btn-xs.btn-success(id='ruleAdd')
                span.glyphicon.glyphicon-plus.margin-r-8
                | Add New
            each r,i in summary.rules
              .panel-body
                .well.well-sm.well-info
                  .btn-group(role='group')
                    a.btn.btn-xs.btn-info(href='#' id='r_' + i + '_up')
                      span.glyphicon.glyphicon-chevron-up.margin-lr-8
                    a.btn.btn-xs.btn-info(href='#' id='r_' + i + '_dn')
                      span.glyphicon.glyphicon-chevron-down.margin-lr-8
                  a.btn.btn-xs.btn-danger.margin-lr-8(href='#' id='r_' + i + '_rm')
                    span.glyphicon.glyphicon-trash
                  select.selectpicker.mono(name=id='r_' + i + '_rn')
                    each ruleDataType,ruleType in ruleSet
                      option(selected=(ruleType===r.type))= ruleType + '(' + ruleDataType + ')'
                  input(type='text', name='rule[]', id='rule[]' value=r.value)
      .form-group
        label.control-label.col-sm-2 Locations
        .col-sm-10
          each l in detail
            input.checkbox-input(type='checkbox', name='loc[]', id='loc[]' value=l.id, checked)
            label.mono(for='loc[]') #{l.id.split(':')[1]}&nbsp;&nbsp;
            a.btn.btn-xs.btn-info(href='/inventory/editIndividual?id='+l.id)
              span.glyphicon.glyphicon-edit
              | &nbsp;Edit
            br
      .form-group
        label.control-label.col-sm-2 Other Garbage
        .col-sm-10.mono
          input(type='hidden', name='copies', value=summary.copies||0)
          |copies #{summary.copies||0}
          br
          if(summary.map)
            input(type='hidden', name='map', value=summary.map)
            |map: #{(summary.map||[]).join(',')}
            br
      .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-success(type='submit') Save
