extends ../layout
block append js
  script(src='/js/table.js')
  script
    != 'var ruleSet = ' + JSON.stringify(ruleSet) + ';'
  script(src='/js/inventory-edit.js')
block content
  .hidden
    input.ruleData.mono.shrinkwrap.slam-l.padding-lr-8.t_int(type='text', name='rule[]')
    input.ruleData.checkbox-inline.checkbox-24.t_bool(type='checkbox', name='rule[]')
    input.ruleData.mono.shrinkwrap.slam-l.padding-lr-8.t_arr(type='text', name='rule[]')
    input.ruleData.mono.shrinkwrap.slam-l.padding-lr-8.t_unknown(type='text', name='rule[]')
  .container
    div.btn.btn-group.btn-group-justified.bg-info
      h1 Inventory:Hash
      pre.mono.h4= summary.hash
    div.btn-group
      div.btn-group.btn-group-justified
        div.btn-group.btn-group-xs
          button.btn Created
            span.badge.mono.margin-l-8= momentStandardFormat(summary.createdAt)
        div.btn-group.btn-group-xs
          button.btn Updated
            span.badge.mono.margin-l-8= momentStandardFormat(summary.updatedAt)
    +alerts()
    form.form-horizontal(action='/inventory/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Hash
        .col-sm-10.mono
          .form-control-static= summary.hash
          input(type='hidden', name='hash', value=summary.hash)
      .form-group
        label.control-label.col-sm-2 Relative Path
        .col-sm-10.mono
          input.form-control(type='text', name='relativePath', value=summary.relativePath)
      .form-group
        label.control-label.col-sm-2 Size
        .col-sm-10.mono
          input.form-control(type='text', name='size', value=summary.size)
      .form-group
        label.control-label.col-sm-2 Mime Type
        .col-sm-10.mono
          input.form-control(type='text', name='mimeType', value=summary.mimeType)
      .form-group
        label.control-label.col-sm-2 Mime Extension
        .col-sm-10.mono
          input.form-control(type='text', name='mimeExtension', value=summary.mimeExtension)
      .form-group
        label.control-label.col-sm-2 Rules
        .col-sm-10
          .panel.panel-default
            .panel-heading.shrinkwrap.slam-l
              a.btn.btn-xs.btn-success(id='ruleAdd')
                span.glyphicon.glyphicon-plus.margin-r-8
                | Add New
              span.addNew.ruleItem
                select.selectpicker.ruleType(data-width='auto')
                  each v,ruleType in ruleSet
                    option= ruleType
                input.ruleData.mono.shrinkwrap.slam-l.padding-lr-8(type='text', name='rule[]')
            .panel-body.shrinkwrap
              each r,i in summary.rules
                .list-group.shrinkwrap.ruleGroup
                  .list-group-item.text-nowrap.shrinkwrap.slam-l.ruleItem
                    .btn-group(role='group')
                      a.btn.btn-xs.btn-info.ruleUp
                        span.glyphicon.glyphicon-chevron-up.margin-lr-8
                      a.btn.btn-xs.btn-info.ruleDown
                        span.glyphicon.glyphicon-chevron-down.margin-lr-8
                    a.btn.btn-xs.btn-danger.margin-lr-8.ruleDel
                      span.glyphicon.glyphicon-trash
                    select.selectpicker.ruleType(data-width='auto')
                      each v,ruleType in ruleSet
                        option(selected=(ruleType===r.type))= ruleType
                    case ruleSet[r.type]
                      when 'int'
                        input.ruleData.mono.shrinkwrap.slam-l.padding-lr-8(type='text', name='rule[]', value=r.value)
                      when 'bool'
                        input.ruleData.checkbox-inline.checkbox-24(type='checkbox', name='rule[]', value=ruleSet[r.type], checked=(!!r.value))
                      when 'arr'
                        input.ruleData.mono.shrinkwrap.slam-l.padding-lr-8(type='text', name='rule[]', value=r.value.join(','))
                      default
                        input.ruleData.mono.shrinkwrap.slam-l.padding-lr-8(type='text', name='rule[]', value=ruleSet[r.type])
      .form-group
        label.control-label.col-sm-2 Locations
        .col-sm-10
          each l in detail
            input.checkbox-input(type='checkbox', name='loc[]', id='loc[]' value=l.id, checked)
            label.mono(for='loc[]') #{l.id.split(':')[1]}&nbsp;&nbsp;
            a.btn.btn-xs.btn-info(href='/inventory/editIndividual?id='+l.id)
              span.glyphicon.glyphicon-edit
              | &nbsp;Edit
            br
      .form-group
        label.control-label.col-sm-2 Other Garbage
        .col-sm-10.mono
          input(type='hidden', name='copies', value=summary.copies||0)
          |copies #{summary.copies||0}
          br
          if(summary.map)
            input(type='hidden', name='map', value=summary.map)
            |map: #{(summary.map||[]).join(',')}
            br
      .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-success(type='submit') Save
