extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    div.btn.btn-group.btn-group-justified.bg-info
      h1 Inventory:Hash
      pre.mono.h4= summary.hash
    div.btn-group
      div.btn-group.btn-group-justified
        div.btn-group.btn-group-xs
          button.btn Created
            span.badge.mono.leftpad8= momentStandardFormat(summary.createdAt)
        div.btn-group.btn-group-xs
          button.btn Updated
            span.badge.mono.leftpad8= momentStandardFormat(summary.updatedAt)
    +alerts()
    form.form-horizontal(action='/inventory/save', method='post', role='form')
      input(type='hidden', name='hash', value=summary.hash)
      .form-group
        label.control-label.col-sm-2 Hash
        .col-sm-10.mono
          .form-control-static= summary.hash
      .form-group
        label.control-label.col-sm-2 Relative Path
        .col-sm-10.mono
          input.form-control(type='text', name='relativePath', value=summary.relativePath)
      .form-group
        label.control-label.col-sm-2 Size
        .col-sm-10.mono
          input.form-control(type='text', name='size', value=summary.size)
      .form-group
        label.control-label.col-sm-2 Mime Type
        .col-sm-10.mono
          input.form-control(type='text', name='mimeType', value=summary.mimeType)
      .form-group
        label.control-label.col-sm-2 Mime Extension
        .col-sm-10.mono
          input.form-control(type='text', name='mimeExtension', value=summary.mimeExtension)
      .form-group
        label.control-label.col-sm-2 Locations
        .col-sm-10
          each l in detail
            input.checkbox-input(type='checkbox', name=`loc[]`, id=`loc[]` value=l.id, checked)
            label.mono(for=`loc[]`) #{l.id.split(':')[1]}&nbsp;&nbsp;
            a(href=`/inventory/editIndividual?id=${l.id}` class='btn btn-xs btn-info')
              span(class='glyphicon glyphicon-edit')
              |&nbsp;Edit
            br
      .form-group
        label.control-label.col-sm-2 Other Garbage
        .col-sm-10.mono
          |copies #{summary.copies}
          br
          |map:
          each l in summary.map
            = l
          br
          |rules:
          each l in summary.rules
            |#{l.type}(#{l.value})
      .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-success(type='submit' disabled) Save
