extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Inventory','/inventory/create','Create Inventory')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Hash
          th Copies
          th Mime Type (ext)
          th Size
          th Created #{timezone}
          th Updated #{timezone}
        each row in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.hash)
            td
              samp.text-center.mono
                a(href='/inventory/edit?id=' + row.hash)= row.hash
            td.mono= row.copies
            td.mono= row.mimeType+' ('+row.mimeExtension+')'
            td.mono= row.size ? prettyBytes(row.size) : ''
            td.mono= momentStandardFormat(row.createdAt,'Unknown')
            td.mono= momentStandardFormat(row.updatedAt,'Unknown')
      +tableFooter(page,count)
