extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Inventory','/inventory/create','Create Inventory')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Hash
          th Clones
          th MimeType
          th Size
          th Hits
          th Created
          th Updated
        each row in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.hash)
            td
              samp(class='text-center')
                a(href='/inventory/edit?id=' + row.hash)= row.hash
            td= row.id.length
            td= row.mimeType
            td= row.size ? prettyBytes(row.size) : ''
            td= row.hits || 0
            td= row.createdAt || 'Unknown'
            td= row.updatedAt || 'Unknown'
      +tableFooter(page,count)
