mixin active(bool)
  if(bool)
    span.glyphicon.glyphicon-check
  else
    span.glyphicon.glyphicon-remove

mixin browseHeader()
  #header
    h5
      a(href='/')
        span= app.title


mixin pathTree(tree)
  div
    each row, i in tree
      if 'folder' === row.type
        a(href='/?folder=#{row.id}')
          if i !== (tree.length - 1)
            span.glyphicon.glyphicon-folder-close
          else
            span.glyphicon.glyphicon-folder-open
          span &nbsp;&nbsp;
          span= 'root' === row.name ? 'Home' : row.name
        if i !== (tree.length - 1)
          span  ->&nbsp;&nbsp;
      if 'file' === row.type
        a(href='/file/detail/?id=#{row.id}')
          span.glyphicon.glyphicon-file
          span= row.name

