extends ../layout
block content
  .container
    h1= file.name
    +pathTree(fileHelper.parentPath(file.path),file.name)
    br
    if file.mimeType.match(/(video|audio)/i)
      iframe(src='/embed/' + file.handle, style='width: 1000px; height: 562px;', mozallowfullscreen='true', webkitallowfullscreen='true')
    div
      a.btn.btn-success(href='/download?handle=#{file.handle}')
        span.glyphicon.glyphicon-download-alt
        |  Download
    br
    table.table.table-striped
      tr
        td CDN URL
        td #{baseUrl}/detail?handle=#{file.handle}
      tr
        td Type
        td= file.mimeType
      tr
        td Size
        td= prettyBytes(file.size)
      tr
        td Uploaded
        td= momentStandardFormat(file.createdAt,'Unknown')
