extends ../layout
block content
  .container
    h1= file.name
    +pathTree(fileHelper.parentPath(file.path),file.name)
    br
    if file.mimeType.match(/(video|audio)/i)
      iframe(src='/file/embed/' + file.handle, style='width: 1000px; height: 562px;', mozallowfullscreen='true', webkitallowfullscreen='true')
    div
      a.btn.btn-success(href='/file/download?handle=' + file.handle)
        span.glyphicon.glyphicon-download-alt
        |  Download
    br
    table.table.table-striped
      if file.mimeType.match(/(video|audio)/i)
        tr
          td Embed URL
          td #{baseUrl}/file/embed?handle=#{file.handle}
        tr
          td Watch URL
          td #{baseUrl}/file/detail?handle=#{file.handle}
      else
        tr
          td CDN URL
          td #{urlStatic}
      tr
        td Type
        td= file.mimeType
      tr
        td Size
        td= prettyBytes(file.size)
      tr
        td Uploaded
        td= momentStandardFormat(file.createdAt,'Unknown')
