include player
doctype html
html(lang='eng')
  head
    block title
      title #{file.name}
    block meta
      meta(name='keywords', content=file.name)
      meta(name='description', content=file.name)
      meta(name='medium', content='video')
      meta(property="og:title", content=file.name)
      meta(property="og:description", content=file.name)
      meta(property="og:image", content=resources.preview)
      meta(property="og:video", content=resources.video)
    block css
      link(rel='stylesheet', type='text/css', href='/main.css')
      link(rel='stylesheet', type='text/css', href='/player.css')
    block js
      script(type='text/javascript', src='/bundle/bundle.min.js')
  body(style='background: #000; overflow: hidden; margin: 0px; padding: 0px; font-family: arial;')
    +player(file,file.handle,resources)

