extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Staff','/staff/create','Create Staff')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Full Name
          th Email
          th Last Login
          th Login Count
          th Last Failed Login
          th Failed Login Count
          th Active
        each row in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row._id)
            td
              a(href='/staff/edit?id=' + row._id)= row.name
            td
              a(href='/staff/edit?id=' + row._id)= row.email
            td
              if row.lastLogin
                div.text-success= moment(row.lastLogin).format('MM-DD-YY hh:mmA')
            td= row.loginCount || 0
            td
              if row.lastFailedLogin
                div.text-danger= moment(row.lastFailedLogin).format('MM-DD-YY hh:mmA')
            td= row.failedLoginCount || 0
            td
              +active(row.active)
      +tableFooter(page,count)
